:root{
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --focs-color:#faf6f69f;
  --color-p:#6d6c6c;
}
.LATEST-EVENTS{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.sections-LATEST-EVENTS .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  margin-bottom: 100px;

}
@media (max-width:766px){
  .sections-LATEST-EVENTS .container{
      grid-template-columns: repeat(auto-fill,minmax(90%,1fr));
  
  }
}
.sections-LATEST-EVENTS .container .col{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.sections-LATEST-EVENTS .container .col img{
  width: 100%;
}
.sections-LATEST-EVENTS .container .col .forms{
  display: flex;
  width: 60%;

}
@media (max-width:766px){
  .sections-LATEST-EVENTS .container .col .forms{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
}
.sections-LATEST-EVENTS .container .col .forms .form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}
.sections-LATEST-EVENTS .container .col .forms .form .time{
  border: 1px solid #CCC;
  border-radius: 5px;
  width: 80px;
  font-size: 40px;
  padding: 5px;
  color: var(--main-color);
  border-bottom-width: 0;
  font-weight: bold;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections-LATEST-EVENTS .container .col .forms .form .button{
  width: 80px;
  border: 1px solid #CCC;
  text-align: center;
  height: 30px;
  padding-top: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sections-LATEST-EVENTS .container .col .forms .form:hover .time,
.sections-LATEST-EVENTS .container .col .forms .form:hover .button{
  border-color: var(--main-color);
}
@media (max-width:766px){
  .sections-LATEST-EVENTS .container .col .forms .form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 7px;
    margin-right: 7px;
  }

}
@media (max-width:355px){
  .sections-LATEST-EVENTS .container .col .forms .form{
    display: flex;
    flex-direction: column;
    width:20%;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 10px;
  }
  .sections-LATEST-EVENTS .container .col .forms .form .time{
    width: 100%;
    font-size: 30px;
  }
  .sections-LATEST-EVENTS .container .col .forms .form .button{
    width: 100%;

  }
}

.sections-LATEST-EVENTS .container .col .text{
  text-align: center;
  margin-top: 30px;
}
.sections-LATEST-EVENTS .container .col .text p{
  font-size: 20px;
  color: var(--color-p);
}
.box-email{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.box-email .email{
  background-color:#EEE;
  width: 50%;
  border-radius: 40px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:766px){
  .box-email .email{
      width: 90%;
  }
}
.box-email .email input{
  width: 70%;
  height: 60%;
  border-radius: 40px;
  padding-left: 30px;
  border: none;
  margin-right: 20px;
}
.box-email .email button{
  border: none;
  width: 20%;
  height: 60%;
  border-radius: 40px;
  background-color: var(--main-color);
  color: white;
}
@media (max-width:766px){
  .box-email .email button{
      width: 22%;
  }

}