:root{
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --focs-color:#faf6f69f;
  --color-p:#6d6c6c;
}
.HOW-IT-WORKS{
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.sections-HOW-IT-WORKS{
  padding-top: var(--main-padding-top);
}
.sections-HOW-IT-WORKS .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-gap: 20px 20px;
}

.sections-HOW-IT-WORKS .container .col img{
  width: 90%;
  height: 90%;
}
.sections-HOW-IT-WORKS .container .col-text {
  display: grid;
  grid-gap: 22px;

}
.sections-HOW-IT-WORKS .container .col .block{
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  border: 1px solid white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.sections-HOW-IT-WORKS .container .col .block::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: var(--section-background);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: var(--main-transition);
  z-index: 1;
}
.sections-HOW-IT-WORKS .container .col .block:hover::before{
  width: 100%;
  height: 100%;
}
.sections-HOW-IT-WORKS .container .col .block .image{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}
.sections-HOW-IT-WORKS .container .col .block .image img{
  width: 100px;
  height: 50%;
}
.sections-HOW-IT-WORKS .container .col .block .text {
  flex-basis: 80%;
  padding-left: 20px;
  /* text-align: center; */
  z-index: 2;
  flex: 2;

}
.sections-HOW-IT-WORKS .container .col .block .text p{
  font-size: 20px;
  color: var(--color-p);
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width:766px){
  .sections-HOW-IT-WORKS .container{
      grid-template-columns: repeat(auto-fill,minmax(90%,1fr));
  }
  .sections-HOW-IT-WORKS .container .col .block{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sections-HOW-IT-WORKS .container .col .block .image{
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .sections-HOW-IT-WORKS .container .col .block .image img{
      width: 80px;
  }
}
@media (max-width:339px){
  .sections-HOW-IT-WORKS .container .col .block {
    grid-template-columns: auto;
    width: 100% !important;
    background-color: red;
}
.sections-HOW-IT-WORKS .container .col .block .text {
  flex-basis: 80%;
  padding-left: 20px;
  /* text-align: center; */
  z-index: 2;
  flex: 2;
  /* font-size: 5px; */
}
}
